/* Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal;
}
/* Navbar ul*/
.mynav{
    color: #fff; 
}

@media (max-width: 768px) {
    .custom-text {
        font-size: 12px;
    }
}
.mynav li a {
    color: black;
    text-decoration: none;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 8px 5px;
    font-size: 16px;
    line-height: 1.9;
}

.mynav li a.active{
    font-weight: bold;
}

.mynav li a:hover{
    background: #C8BCF6;
    
}

.mynav li a i{
    width: 25px;
    text-align: center;
}

input:focus {
    outline: 0px !important;
    box-shadow: none !important;
}
.cursor-pointer {
    cursor: pointer;
}